<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login To Your Account</title>
</head>
<body>
    <h1>Room Name: </h1>
    <h3> {{message}}</h3>
    <form action="/create-room" method="post">
        <label for="">Room Name:</label>
        <input type="text" name="room_name" id="", value='{{ room.name }}'>
        <br>
        <label for="">Members:</label>
        <input type="text" name="members" id="", value='{{ room_members_str }}'>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>